<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="defaultWsHttpBinding">
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultEndpointBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:9999/EmployeeManagementService.svc"
          binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding"
          behaviorConfiguration="defaultEndpointBehavior" contract="ClientReference.ICreateEmployee"/>
      <endpoint address="http://localhost:9999/EmployeeManagementService.svc"
          binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding"
          behaviorConfiguration="defaultEndpointBehavior" contract="ClientReference.IReturnEmployees"/>
    </client>
  </system.serviceModel>
</configuration>