<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="Demo.EmployeeManagement.ServiceImpl.EmployeeManagementImpl, Demo.EmployeeManagement.ServiceImpl" relativeAddress="EmployeeManagement.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding sendTimeout="00:00:10"></binding>
      </basicHttpBinding>      
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="10"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>          
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Demo.EmployeeManagement.ServiceImpl.EmployeeManagementImpl">
        <endpoint binding="basicHttpBinding" contract="Demo.EmployeeManagement.ServiceContracts.IEmployeeManagement"></endpoint>
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>