<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="EmployeeManagement.ServiceImplementation.EmployeeImplementation, EmployeeManagement.ServiceImplementation" relativeAddress="EmployeeManagementService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <wsHttpBinding>
        <binding name="defaultWsHttpBinding">
        </binding>
      </wsHttpBinding>
    </bindings> 
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EmployeeManagement.ServiceImplementation.EmployeeImplementation"  behaviorConfiguration="defaultServiceBehavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding"  contract="EmployeeManagement.ServiceContracts.ICreateEmployee" >
        </endpoint>
        <endpoint binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding"  contract="EmployeeManagement.ServiceContracts.IReturnEmployees" >
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <system.runtime.serialization>
<dataContractSerializer>
<declaredTypes>
<add type="EmployeeManagement.DataContracts.Employee,
EmployeeManagement.DataContracts, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null">
<knownType type="EmployeeManagement.DataContracts.DevEmployee,
EmployeeManagement.DataContracts, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null"/>
<knownType type="EmployeeManagement.DataContracts.HrEmployee,
EmployeeManagement.DataContracts, Version=1.0.0.0, Culture=neutral,
PublicKeyToken=null"/>
</add>
</declaredTypes>
</dataContractSerializer>
</system.runtime.serialization>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
