<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      
      <wsHttpBinding>
        <binding name="defaultBasicWSHttpBinding">
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultHTTPbehavior">
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service  name="Training.ServiceImplementation.EmployeeManagement" behaviorConfiguration="defaultHTTPbehavior">
        <endpoint address="ws" 
                  binding="wsHttpBinding"  
                  bindingConfiguration="defaultBasicWSHttpBinding" 
                  contract="Training.ServiceContracts.IEmployeeManagement">
        </endpoint>
        <endpoint address="basic"
            binding="basicHttpBinding"
            contract="Training.ServiceContracts.IEmployeeManagement" >
        </endpoint>
       
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
