<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="EmployeeManagement.ServiceImplementation.EmployeeImplementation, EmployeeManagement.ServiceImplementation" relativeAddress="EmployeeManagementService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <extensions>
      <behaviorExtensions>
        <add name="ServiceExtension" type="Service.ServiceBehaviorExtension, Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <wsHttpBinding>
        <binding name="defaultWsHttpBinding">
        </binding>
      </wsHttpBinding>
    </bindings> 
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <ServiceExtension/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="EmployeeManagement.ServiceImplementation.EmployeeImplementation"  behaviorConfiguration="defaultServiceBehavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding"  contract="EmployeeManagement.ServiceContracts.IEmployee" >
        </endpoint>
        <endpoint binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding"  contract="EmployeeManagement.ServiceContracts.IEmployeeFunctions" >
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
